// ---------------------------------  
// Rafael Corsi @ insper . edu . br
//              2020a
// ---------------------------------
//
// Descritivo: 
//  Escreva um código em VM que realize a seguinte
//  operação :
//
//  if( temp[0] == 4):
//      temp[1] = 12
//  else:
//      temp[1] = temp[2] + 4
//
//  Onde:
//   - temp[0]: temporário 0
//   - temp[1]: ...
// 
//  ****************************************************
//  ** A ideia é deixar o Z01 resolver, você não deve **
//  ** simplificar a equação                          **
//  ****************************************************
// ---------------------------------

function Main.main 0


push temp 0
push constant 4
eq
if-goto IF

push temp 2
push constant 4
add
pop temp 1
goto END

label IF
push constant 12
pop temp 1

label END

// nao deve tirar isso!
label while2
    goto while2
